# editors
*.swp
*~

# build
/build*/
.clang-format
.vscode/compile_commands.json
.vscode/settings.json
.vscode/zephyr-ide.json
.idea/dtsSettings.xml
.idea/.gitignore
.idea/editor.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
cmake-build-debug/CMakeCache.txt
cmake-build-debug/.cmake/api/v1/query/cache-v2
cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
cmake-build-debug/.cmake/api/v1/query/codemodel-v2
cmake-build-debug/.cmake/api/v1/query/toolchains-v1
cmake-build-debug/CMakeFiles/clion-Debug-log.txt
cmake-build-debug/CMakeFiles/clion-environment.txt
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/Kconfig/Kconfig.modules
cmake-build-debug/Kconfig/Kconfig.sysbuild.modules
.gitignore
.gitignore
